# 0. Importing Libraries

In [31]:
import numpy as np
import pandas as pd
import requests

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Ex. 1 Worldbank Indicator API

## 1.1 Define the function

In [32]:
def query_worldbank(indicators, countries, years):
    '''
    Purpose
    -------
    To query data from the World Bank Indicator API for the specified parameters.

    Parameters
    ----------
    indicators (list) : A list of indicator codes to query.
    countries (list) : A list of country codes to query.
    years (list) : A list of years to query.

    Returns
    -------
    A pandas DataFrame containing the queried data, with countries as rows, indicators as columns, and years as the index.
    
    '''

    base_url = "http://api.worldbank.org/v2/country/"
    all_data = []
    api_call_count = 0  #... initializing counter for API calls

    for country in countries:
        for year in years:
            for indicator in indicators:
                page = 1
                while True:
                    url = f'{base_url}{country}/indicator/{indicator}?date={year}&format=json&page={page}'

                    try:
                        response = requests.get(url)
                        response.raise_for_status()
                        data = response.json()

                        api_call_count += 1  #... incrementing the API call counter

                        # Print the response for debugging
                        print("API Response:", data)

                        # Check if we have data
                        if len(data) < 2 or len(data[1]) == 0:
                            print(f'No data found for {indicator} in {country} for {year}.')
                            break

                        # Extract relevant data
                        for entry in data[1]:
                            entry_data = {
                                'year': entry['date'],
                                'countryiso3code': entry['countryiso3code'],
                                'country': entry['country']['value'],
                                'indicator': entry['indicator']['value'],
                                'value': entry['value']
                            }
                            all_data.append(entry_data)

                        # Check for pagination
                        pages = data[0]['pages']
                        if page >= pages:  #... checking if we are on the last page
                            break

                        page += 1  #... moving to the next page

                    # Error handling
                    except Exception as e:
                        print(f'Error for {indicator} in {country} for {year}: {e}')
                        break

    # Create DataFrame
    worldbank_df = pd.DataFrame(all_data)

    # Pivot the df to have separate columns for each indicator
    pivot_df = worldbank_df.pivot_table(
        index=['year', 'countryiso3code', 'country'],
        columns='indicator',
        values='value',
        aggfunc='first'
    ).reset_index()

    # Sort the df by year and countryiso3code
    pivot_df['year'] = pd.to_numeric(pivot_df['year'])  #... converting year to numeric for sorting
    pivot_df.sort_values(by=['year', 'countryiso3code'], inplace=True)  #... sorting by year
    pivot_df.rename_axis(None, axis=1, inplace=True)   #... resetting index for proper data management
    
    print(f'Total API calls: {api_call_count}')  #... printing total API calls
    return pivot_df

## 1.2 Demonstrating the function works

### 1.2.a Total Population of Germany and France (2015-2020)

In [33]:
# Execute function for task 1a and store it in a DataFrame
wb_df_1a = query_worldbank(['SP.POP.TOTL'], ['DEU','FRA'], [2015, 2016, 2017, 2018, 2019, 2020])
wb_df_1a

API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'DE', 'value': 'Germany'}, 'countryiso3code': 'DEU', 'date': '2015', 'value': 81686611, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'DE', 'value': 'Germany'}, 'countryiso3code': 'DEU', 'date': '2016', 'value': 82348669, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'DE', 'value': 'Germany'}, 'countryiso3code': 'DEU', 'date': '2017', 'value': 82657002, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'DE', 'value': 'Germany'}, 'countryiso3code': 'DEU', 'date': '2018', 'value': 82905782, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'DE', 'value': 'Germany'}, 'countryiso3code': 'DEU', 'date': '2019', 'value': 83092962, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'DE', 'value': 'Germany'}, 'countryiso3code': 'DEU', 'date': '2020', 'value': 83160871, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'FR', 'value': 'France'}, 'countryiso3code': 'FRA', 'date': '2015', 'value': 66548272, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'FR', 'value': 'France'}, 'countryiso3code': 'FRA', 'date': '2016', 'value': 66724104, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'FR', 'value': 'France'}, 'countryiso3code': 'FRA', 'date': '2017', 'value': 66918020, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'FR', 'value': 'France'}, 'countryiso3code': 'FRA', 'date': '2018', 'value': 67158348, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'FR', 'value': 'France'}, 'countryiso3code': 'FRA', 'date': '2019', 'value': 67388001, 'unit': '', 'obs_status': '', 'decimal': 0}]]
API Response: [{'page': 1, 'pages': 1, 'per_page': 50, 'total': 1, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'FR', 'value': 'France'}, 'countryiso3code': 'FRA', 'date': '2020', 'value': 67571107, 'unit': '', 'obs_status': '', 'decimal': 0}]]
Total API calls: 12

    year countryiso3code  country  Population, total
0   2015             DEU  Germany           81686611
1   2015             FRA   France           66548272
2   2016             DEU  Germany           82348669
3   2016             FRA   France           66724104
4   2017             DEU  Germany           82657002
5   2017             FRA   France           66918020
6   2018             DEU  Germany           82905782
7   2018             FRA   France           67158348
8   2019             DEU  Germany           83092962
9   2019             FRA   France           67388001
10  2020             DEU  Germany           83160871
11  2020             FRA   France           67571107

### 1.2.b Total Population, GDP and Life Expectancy for all countries (2012)

In [34]:
# Execute function for task 1b and store it in a DataFrame
wb_df_1b = query_worldbank(['SP.POP.TOTL', 'NY.GDP.MKTP.CD', 'SP.DYN.LE00.IN'], ['all'], [2012])
wb_df_1b.shape  #... displaying the shape

API Response: [{'page': 1, 'pages': 6, 'per_page': 50, 'total': 266, 'sourceid': '2', 'lastupdated': '2024-10-24'}, [{'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZH', 'value': 'Africa Eastern and Southern'}, 'countryiso3code': 'AFE', 'date': '2012', 'value': 552530654, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZI', 'value': 'Africa Western and Central'}, 'countryiso3code': 'AFW', 'date': '2012', 'value': 376797999, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': '1A', 'value': 'Arab World'}, 'countryiso3code': 'ARB', 'date': '2012', 'value': 380383408, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'S3', 'value': 'Caribbean small states'}, 'countryiso3code': 'CSS', 'date': '2012', 'value': 2898802, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'B8', 'value': 'Central Europe and the Baltics'}, 'countryiso3code': 'CEB', 'date': '2012', 'value': 103935318, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'V2', 'value': 'Early-demographic dividend'}, 'countryiso3code': 'EAR', 'date': '2012', 'value': 3035159632, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'Z4', 'value': 'East Asia & Pacific'}, 'countryiso3code': 'EAS', 'date': '2012', 'value': 2243776727, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': '4E', 'value': 'East Asia & Pacific (excluding high income)'}, 'countryiso3code': 'EAP', 'date': '2012', 'value': 2001246209, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'T4', 'value': 'East Asia & Pacific (IDA & IBRD countries)'}, 'countryiso3code': 'TEA', 'date': '2012', 'value': 1976386829, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XC', 'value': 'Euro area'}, 'countryiso3code': 'EMU', 'date': '2012', 'value': 340450693, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'Z7', 'value': 'Europe & Central Asia'}, 'countryiso3code': 'ECS', 'date': '2012', 'value': 894705970, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': '7E', 'value': 'Europe & Central Asia (excluding high income)'}, 'countryiso3code': 'ECA', 'date': '2012', 'value': 232735642, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'T7', 'value': 'Europe & Central Asia (IDA & IBRD countries)'}, 'countryiso3code': 'TEC', 'date': '2012', 'value': 445808734, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'EU', 'value': 'European Union'}, 'countryiso3code': 'EUU', 'date': '2012', 'value': 441419873, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'F1', 'value': 'Fragile and conflict affected situations'}, 'countryiso3code': 'FCS', 'date': '2012', 'value': 817412582, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XE', 'value': 'Heavily indebted poor countries (HIPC)'}, 'countryiso3code': 'HPC', 'date': '2012', 'value': 667520863, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XD', 'value': 'High income'}, 'countryiso3code': '', 'date': '2012', 'value': 1342743557, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XF', 'value': 'IBRD only'}, 'countryiso3code': 'IBD', 'date': '2012', 'value': 4517846874, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZT', 'value': 'IDA & IBRD total'}, 'countryiso3code': 'IBT', 'date': '2012', 'value': 5998753810, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XH', 'value': 'IDA blend'}, 'countryiso3code': 'IDB', 'date': '2012', 'value': 497317025, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XI', 'value': 'IDA only'}, 'countryiso3code': 'IDX', 'date': '2012', 'value': 983589911, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XG', 'value': 'IDA total'}, 'countryiso3code': 'IDA', 'date': '2012', 'value': 1480906936, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'V3', 'value': 'Late-demographic dividend'}, 'countryiso3code': 'LTE', 'date': '2012', 'value': 2212426916, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZJ', 'value': 'Latin America & Caribbean'}, 'countryiso3code': 'LCN', 'date': '2012', 'value': 602139396, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XJ', 'value': 'Latin America & Caribbean (excluding high income)'}, 'countryiso3code': 'LAC', 'date': '2012', 'value': 541048298, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'T2', 'value': 'Latin America & the Caribbean (IDA & IBRD countries)'}, 'countryiso3code': 'TLA', 'date': '2012', 'value': 586263141, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XL', 'value': 'Least developed countries: UN classification'}, 'countryiso3code': 'LDC', 'date': '2012', 'value': 884653995, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XO', 'value': 'Low & middle income'}, 'countryiso3code': 'LMY', 'date': '2012', 'value': 5769216950, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XM', 'value': 'Low income'}, 'countryiso3code': '', 'date': '2012', 'value': 540002626, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XN', 'value': 'Lower middle income'}, 'countryiso3code': '', 'date': '2012', 'value': 2610684758, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZQ', 'value': 'Middle East & North Africa'}, 'countryiso3code': 'MEA', 'date': '2012', 'value': 414117603, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XQ', 'value': 'Middle East & North Africa (excluding high income)'}, 'countryiso3code': 'MNA', 'date': '2012', 'value': 356239722, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'T3', 'value': 'Middle East & North Africa (IDA & IBRD countries)'}, 'countryiso3code': 'TMN', 'date': '2012', 'value': 352259724, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XP', 'value': 'Middle income'}, 'countryiso3code': 'MIC', 'date': '2012', 'value': 5229214324, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XU', 'value': 'North America'}, 'countryiso3code': 'NAC', 'date': '2012', 'value': 348655855, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XY', 'value': 'Not classified'}, 'countryiso3code': '', 'date': '2012', 'value': None, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'OE', 'value': 'OECD members'}, 'countryiso3code': 'OED', 'date': '2012', 'value': 1305512665, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'S4', 'value': 'Other small states'}, 'countryiso3code': 'OSS', 'date': '2012', 'value': 12569929, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'S2', 'value': 'Pacific island small states'}, 'countryiso3code': 'PSS', 'date': '2012', 'value': 2353058, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'V4', 'value': 'Post-demographic dividend'}, 'countryiso3code': 'PST', 'date': '2012', 'value': 1082488131, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'V1', 'value': 'Pre-demographic dividend'}, 'countryiso3code': 'PRE', 'date': '2012', 'value': 784822780, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'S1', 'value': 'Small states'}, 'countryiso3code': 'SST', 'date': '2012', 'value': 17821789, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': '8S', 'value': 'South Asia'}, 'countryiso3code': 'SAS', 'date': '2012', 'value': 1708706729, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'T5', 'value': 'South Asia (IDA & IBRD)'}, 'countryiso3code': 'TSA', 'date': '2012', 'value': 1708706729, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZG', 'value': 'Sub-Saharan Africa'}, 'countryiso3code': 'SSF', 'date': '2012', 'value': 929328653, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'ZF', 'value': 'Sub-Saharan Africa (excluding high income)'}, 'countryiso3code': 'SSA', 'date': '2012', 'value': 929240350, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'T6', 'value': 'Sub-Saharan Africa (IDA & IBRD countries)'}, 'countryiso3code': 'TSS', 'date': '2012', 'value': 929328653, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'XT', 'value': 'Upper middle income'}, 'countryiso3code': '', 'date': '2012', 'value': 2618529566, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': '1W', 'value': 'World'}, 'countryiso3code': 'WLD', 'date': '2012', 'value': 7141430933, 'unit': '', 'obs_status': '', 'decimal': 0}, {'indicator': {'id': 'SP.POP.TOTL', 'value': 'Population, total'}, 'country': {'id': 'AF', 'value': 'Afghanistan'}, 'countryiso3code': 'AFG', 'date': '2012', 'value': 30466479, 'unit': '', 'obs_status': '', 'decimal': 0}]]

(265, 6)

In [35]:
wb_df_1b.head(10)  #... displaying the first 10 rows

,year,countryiso3code,country,GDP (current US$),"Life expectancy at birth, total (years)","Population, total"
0,2012,,High income,5.171000e+13,79.043510,1.342744e+09
1,2012,,Low income,3.817016e+11,60.557900,5.400026e+08
2,2012,,Lower middle income,4.456528e+12,66.382162,2.610685e+09
3,2012,,Upper middle income,1.867495e+13,74.386075,2.618530e+09
4,2012,ABW,Aruba,2.615208e+09,75.531000,1.021120e+05
5,2012,AFE,Africa Eastern and Southern,9.526756e+11,60.050780,5.525307e+08
6,2012,AFG,Afghanistan,1.990733e+10,61.923000,3.046648e+07
7,2012,AFW,Africa Western and Central,7.377996e+11,55.340561,3.767980e+08
8,2012,AGO,Angola,1.280529e+11,58.623000,2.518829e+07
9,2012,ALB,Albania,1.231983e+10,78.064000,2.900401e+06

### 1.2.c State how many API calls your function makes for a) and b) respectively.

A.: As can be observed from above tasks, for task 1.a the API made 12 calls and for task 1.b the API made 18 calls

# Ex. 2 Medals Table + Worldbank df

## 2.a Creating a combined df

### 2.a.1 Prepping the medals table & the worldbank dataframe from task 1b

In [36]:
medals_df = pd.read_csv('data/medal_table.csv')  #... loading the medal table into a DataFrame
medals_df

    year                     country country_code  gold  silver  bronze
0   2012               United States          USA    46      28      30
1   2012  People's Republic of China          CHN    38      31      22
2   2012               Great Britain          GBR    29      17      19
3   2012          Russian Federation          RUS    20      20      27
4   2012           Republic of Korea          KOR    13       9       8
..   ...                         ...          ...   ...     ...     ...
81  2012     Kingdom of Saudi Arabia          KSA     0       0       1
82  2012                      Kuwait          KUW     0       0       1
83  2012                     Morocco          MAR     0       0       1
84  2012                  Tajikistan          TJK     0       0       1
85  2012                     Vietnam          VIE     0       0       1

[86 rows x 6 columns]

renaming `countryiso3code` to `country_code` in `wb_df_1b` for ease of manipulation

In [37]:
wb_df_1b.rename(columns={'countryiso3code': 'country_code'}, inplace=True)
wb_df_1b

,year,country_code,country,GDP (current US$),"Life expectancy at birth, total (years)","Population, total"
0,2012,,High income,5.171000e+13,79.043510,1.342744e+09
1,2012,,Low income,3.817016e+11,60.557900,5.400026e+08
2,2012,,Lower middle income,4.456528e+12,66.382162,2.610685e+09
3,2012,,Upper middle income,1.867495e+13,74.386075,2.618530e+09
4,2012,ABW,Aruba,2.615208e+09,75.531000,1.021120e+05
...,...,...,...,...,...,...
260,2012,XKX,Kosovo,6.163484e+09,78.280000,1.807106e+06
261,2012,YEM,"Yemen, Rep.",3.540133e+10,67.343000,2.622339e+07
262,2012,ZAF,South Africa,4.344005e+11,61.846000,5.314503e+07
263,2012,ZMB,Zambia,2.550306e+10,58.867000,1.474466e+07
264,2012,ZWE,Zimbabwe,1.711485e+10,55.626000,1.326533e+07

### 2.a.2 Reconciling the country names from both tables
* reconciling country names from both tables in order to account for maximum data

In [38]:
%pip install fuzzywuzzy python-Levenshtein  #... installing the necessary packages to match country names based on partial matches

Requirement already satisfied: fuzzywuzzy in /Users/aneesh/Documents/Data Science/WiSe2024/Tools and Programming Languages for Data Science/.venvTPLDS/lib/python3.13/site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in /Users/aneesh/Documents/Data Science/WiSe2024/Tools and Programming Languages for Data Science/.venvTPLDS/lib/python3.13/site-packages (0.26.1)
Requirement already satisfied: Levenshtein==0.26.1 in /Users/aneesh/Documents/Data Science/WiSe2024/Tools and Programming Languages for Data Science/.venvTPLDS/lib/python3.13/site-packages (from python-Levenshtein) (0.26.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.9.0 in /Users/aneesh/Documents/Data Science/WiSe2024/Tools and Programming Languages for Data Science/.venvTPLDS/lib/python3.13/site-packages (from Levenshtein==0.26.1->python-Levenshtein) (3.10.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [39]:
from fuzzywuzzy import process, fuzz

In [40]:
wb_countries = wb_df_1b['country'].tolist()  #... country names from the World Bank df
medals_countries = medals_df['country'].tolist()  #... country names from the medals df

In [41]:
# Match country names from medals_df to those from wb_df_1b

def match_countries_unique(medals_countries, wb_countries, threshold=80):
    match_names_medals = []
    match_names_wb = []
    used_wb_names = set()  #... tracking used names
    unmatched_countries = []  #... tracking unmatched countries

    for medals_country in medals_countries:
        best_match, score = process.extractOne(
            medals_country, 
            wb_countries,
            scorer=fuzz.token_set_ratio
        )
        
        # Only add to the lists if score >= threshold and match is unique
        if score >= threshold and best_match not in used_wb_names:
            match_names_medals.append(medals_country)
            match_names_wb.append(best_match)
            used_wb_names.add(best_match)
        else:
            unmatched_countries.append(medals_country)

    # Create df for matched countries
    match_df = pd.DataFrame({
        'medals_country': match_names_medals, 
        'wb_country': match_names_wb
    })

    # Create df for unmatched countries
    unmatch_df = pd.DataFrame({
        'medals_country': unmatched_countries,
        'wb_country': [None] * len(unmatched_countries)  #... fill with None or NaN
    })

    # Combine the matched and unmatched dfs
    combined_df = pd.concat([match_df, unmatch_df], ignore_index=True)

    return combined_df

match_df = match_countries_unique(medals_countries, wb_countries)

In [42]:
pd.set_option('display.max_rows', None)  #... displaying all rows to allow for visual inspection of missing values
match_df

                           medals_country           wb_country
0                           United States        United States
1              People's Republic of China                China
2                      Russian Federation   Russian Federation
3                                 Germany              Germany
4                                  France               France
5                               Australia            Australia
6                                   Italy                Italy
7                                 Hungary              Hungary
8                                   Japan                Japan
9                Islamic Republic of Iran   Iran, Islamic Rep.
10                            Netherlands          Netherlands
11                            New Zealand          New Zealand
12                                Ukraine              Ukraine
13                                   Cuba                 Cuba
14                                  Spain                Spain
15                                Jamaica              Jamaica
16                           South Africa         South Africa
17                                 Brazil               Brazil
18                                 Poland               Poland
19                               Ethiopia             Ethiopia
20                             Kazakhstan           Kazakhstan
21                                Croatia              Croatia
22                                 Canada               Canada
23                                Belarus              Belarus
24                                  Kenya                Kenya
25                                Denmark              Denmark
26                                Romania              Romania
27                             Azerbaijan           Azerbaijan
28                            Switzerland          Switzerland
29                                 Norway               Norway
30                              Lithuania            Lithuania
31                                Tunisia              Tunisia
32                                 Sweden               Sweden
33                               Colombia             Colombia
34                                 Mexico               Mexico
35                                Georgia              Georgia
36                                Ireland              Ireland
37                              Argentina            Argentina
38                                 Serbia               Serbia
39                               Slovenia             Slovenia
40                    Trinidad and Tobago  Trinidad and Tobago
41                     Dominican Republic   Dominican Republic
42                                 Latvia               Latvia
43                                Algeria              Algeria
44                                Bahrain              Bahrain
45                                Grenada              Grenada
46                            The Bahamas         Bahamas, The
47                                 Uganda               Uganda
48                              Venezuela        Venezuela, RB
49                                  Egypt     Egypt, Arab Rep.
50                                  India                India
51                               Mongolia             Mongolia
52                               Thailand             Thailand
53                               Bulgaria             Bulgaria
54                                Finland              Finland
55                              Indonesia            Indonesia
56                                Belgium              Belgium
57                                Armenia              Armenia
58                                Estonia              Estonia
59                               Malaysia             Malaysia
60                            Puerto Rico          Puerto Rico
61                               Botswana             Botswana
62                                 Cyprus               Cyprus
63                                  Gabon                Gabon
64                              Guatemala            Guatemala
65                             Montenegro           Montenegro
66                               Portugal             Portugal
67                             Uzbekistan           Uzbekistan
68                                 Greece               Greece
69                                  Qatar                Qatar
70                              Singapore            Singapore
71                            Afghanistan          Afghanistan
72                               Cameroon             Cameroon
73                Kingdom of Saudi Arabia         Saudi Arabia
74                                 Kuwait               Kuwait
75                                Morocco              Morocco
76                             Tajikistan           Tajikistan
77                          Great Britain                 None
78                      Republic of Korea                 None
79                         Czech Republic                 None
80  Democratic People's Republic of Korea                 None
81                                 Turkey                 None
82                         Chinese Taipei                 None
83                               Slovakia                 None
84                       Hong Kong, China                 None
85                                Vietnam                 None

In [43]:
# Account for the unmatched countries

# List to store matched country names
results = []

# Check for partial matches
keywords = ['Britain', 'Korea', 'Czech', 'Turkiye', 'Taipei', 'Taiwan', 'Slovak', 'Hong Kong', 'Viet nam']
for keyword in keywords:
    matches = wb_df_1b[wb_df_1b['country'].str.contains(keyword, case=False, na=False)]
    
    if not matches.empty:
        # Append matched country names to the results list
        country_names = matches['country'].tolist()
        results.append((keyword, country_names))
    else:
        # Append None for unmatched keywords
        results.append((keyword, None))

# Create a DataFrame from the results
possible_matches_df = pd.DataFrame(results, columns=['Keyword', 'Possible Matches'])

# Display the resulting DataFrame
possible_matches_df

     Keyword                          Possible Matches
0    Britain                                      None
1      Korea  [Korea, Rep., Korea, Dem. People's Rep.]
2      Czech                                 [Czechia]
3    Turkiye                                 [Turkiye]
4     Taipei                                      None
5     Taiwan                                      None
6     Slovak                         [Slovak Republic]
7  Hong Kong                    [Hong Kong SAR, China]
8   Viet nam                                [Viet Nam]

In [44]:
# Add additional matches to match_df

additional_matches = {
    'Great Britain': 'United Kingdom',
    'Republic of Korea': 'Korea, Rep.',
    'Democratic People\'s Republic of Korea': 'Korea, Dem. People\'s Rep.',
    'Czech Republic': 'Czechia',
    'Slovakia': 'Slovak Republic',
    'Turkey': 'Turkiye',
    'Hong Kong, China': 'Hong Kong SAR, China',
    'Vietnam': 'Viet Nam',
}

for medals_country, wb_country in additional_matches.items():
    match_df.loc[match_df['medals_country'] == medals_country, 'wb_country'] = wb_country

match_df

                           medals_country                 wb_country
0                           United States              United States
1              People's Republic of China                      China
2                      Russian Federation         Russian Federation
3                                 Germany                    Germany
4                                  France                     France
5                               Australia                  Australia
6                                   Italy                      Italy
7                                 Hungary                    Hungary
8                                   Japan                      Japan
9                Islamic Republic of Iran         Iran, Islamic Rep.
10                            Netherlands                Netherlands
11                            New Zealand                New Zealand
12                                Ukraine                    Ukraine
13                                   Cuba                       Cuba
14                                  Spain                      Spain
15                                Jamaica                    Jamaica
16                           South Africa               South Africa
17                                 Brazil                     Brazil
18                                 Poland                     Poland
19                               Ethiopia                   Ethiopia
20                             Kazakhstan                 Kazakhstan
21                                Croatia                    Croatia
22                                 Canada                     Canada
23                                Belarus                    Belarus
24                                  Kenya                      Kenya
25                                Denmark                    Denmark
26                                Romania                    Romania
27                             Azerbaijan                 Azerbaijan
28                            Switzerland                Switzerland
29                                 Norway                     Norway
30                              Lithuania                  Lithuania
31                                Tunisia                    Tunisia
32                                 Sweden                     Sweden
33                               Colombia                   Colombia
34                                 Mexico                     Mexico
35                                Georgia                    Georgia
36                                Ireland                    Ireland
37                              Argentina                  Argentina
38                                 Serbia                     Serbia
39                               Slovenia                   Slovenia
40                    Trinidad and Tobago        Trinidad and Tobago
41                     Dominican Republic         Dominican Republic
42                                 Latvia                     Latvia
43                                Algeria                    Algeria
44                                Bahrain                    Bahrain
45                                Grenada                    Grenada
46                            The Bahamas               Bahamas, The
47                                 Uganda                     Uganda
48                              Venezuela              Venezuela, RB
49                                  Egypt           Egypt, Arab Rep.
50                                  India                      India
51                               Mongolia                   Mongolia
52                               Thailand                   Thailand
53                               Bulgaria                   Bulgaria
54                                Finland                    Finland
55                              Indonesia                  Indonesia
56                                Belgium                    Belgium
57                                Armenia                    Armenia
58                                Estonia                    Estonia
59                               Malaysia                   Malaysia
60                            Puerto Rico                Puerto Rico
61                               Botswana                   Botswana
62                                 Cyprus                     Cyprus
63                                  Gabon                      Gabon
64                              Guatemala                  Guatemala
65                             Montenegro                 Montenegro
66                               Portugal                   Portugal
67                             Uzbekistan                 Uzbekistan
68                                 Greece                     Greece
69                                  Qatar                      Qatar
70                              Singapore                  Singapore
71                            Afghanistan                Afghanistan
72                               Cameroon                   Cameroon
73                Kingdom of Saudi Arabia               Saudi Arabia
74                                 Kuwait                     Kuwait
75                                Morocco                    Morocco
76                             Tajikistan                 Tajikistan
77                          Great Britain             United Kingdom
78                      Republic of Korea                Korea, Rep.
79                         Czech Republic                    Czechia
80  Democratic People's Republic of Korea  Korea, Dem. People's Rep.
81                                 Turkey                    Turkiye
82                         Chinese Taipei                       None
83                               Slovakia            Slovak Republic
84                       Hong Kong, China       Hong Kong SAR, China
85                                Vietnam                   Viet Nam

In [45]:
# Add country codes

match_df = match_df.merge(
    medals_df[['country', 'country_code']],
    left_on='wb_country',
    right_on='country',
    how='left'
)

match_df.drop('country', axis=1, inplace=True)

match_df.rename(columns={'country_code': 'medals_country_code'}, inplace=True)

match_df

,medals_country,wb_country,medals_country_code
0,United States,United States,USA
1,People's Republic of China,China,NaN
2,Russian Federation,Russian Federation,RUS
3,Germany,Germany,GER
4,France,France,FRA
5,Australia,Australia,AUS
6,Italy,Italy,ITA
7,Hungary,Hungary,HUN
8,Japan,Japan,JPN
9,Islamic Republic of Iran,"Iran, Islamic Rep.",NaN
10,Netherlands,Netherlands,NED
11,New Zealand,New Zealand,NZL
12,Ukraine,Ukraine,UKR
13,Cuba,Cuba,CUB
14,Spain,Spain,ESP
15,Jamaica,Jamaica,JAM
16,South Africa,South Africa,RSA
17,Brazil,Brazil,BRA
18,Poland,Poland,POL
19,Ethiopia,Ethiopia,ETH
20,Kazakhstan,Kazakhstan,KAZ
21,Croatia,Croatia,CRO
22,Canada,Canada,CAN
23,Belarus,Belarus,BLR
24,Kenya,Kenya,KEN
25,Denmark,Denmark,DEN
26,Romania,Romania,ROU
27,Azerbaijan,Azerbaijan,AZE
28,Switzerland,Switzerland,SUI
29,Norway,Norway,NOR
30,Lithuania,Lithuania,LTU
31,Tunisia,Tunisia,TUN
32,Sweden,Sweden,SWE
33,Colombia,Colombia,COL
34,Mexico,Mexico,MEX
35,Georgia,Georgia,GEO
36,Ireland,Ireland,IRL
37,Argentina,Argentina,ARG
38,Serbia,Serbia,SRB
39,Slovenia,Slovenia,SLO
40,Trinidad and Tobago,Trinidad and Tobago,TTO
41,Dominican Republic,Dominican Republic,DOM
42,Latvia,Latvia,LAT
43,Algeria,Algeria,ALG
44,Bahrain,Bahrain,BRN
45,Grenada,Grenada,GRN
46,The Bahamas,"Bahamas, The",NaN
47,Uganda,Uganda,UGA
48,Venezuela,"Venezuela, RB",NaN
49,Egypt,"Egypt, Arab Rep.",NaN
50,India,India,IND
51,Mongolia,Mongolia,MGL
52,Thailand,Thailand,THA
53,Bulgaria,Bulgaria,BUL
54,Finland,Finland,FIN
55,Indonesia,Indonesia,INA
56,Belgium,Belgium,BEL
57,Armenia,Armenia,ARM
58,Estonia,Estonia,EST
59,Malaysia,Malaysia,MAS
60,Puerto Rico,Puerto Rico,PUR
61,Botswana,Botswana,BOT
62,Cyprus,Cyprus,CYP
63,Gabon,Gabon,GAB
64,Guatemala,Guatemala,GUA
65,Montenegro,Montenegro,MNE
66,Portugal,Portugal,POR
67,Uzbekistan,Uzbekistan,UZB
68,Greece,Greece,GRE
69,Qatar,Qatar,QAT
70,Singapore,Singapore,SGP
71,Afghanistan,Afghanistan,AFG
72,Cameroon,Cameroon,CMR
73,Kingdom of Saudi Arabia,Saudi Arabia,NaN
74,Kuwait,Kuwait,KUW
75,Morocco,Morocco,MAR
76,Tajikistan,Tajikistan,TJK
77,Great Britain,United Kingdom,NaN
78,Republic of Korea,"Korea, Rep.",NaN
79,Czech Republic,Czechia,NaN
80,Democratic People's Republic of Korea,"Korea, Dem. People's Rep.",NaN
81,Turkey,Turkiye,NaN
82,Chinese Taipei,None,NaN
83,Slovakia,Slovak Republic,NaN
84,"Hong Kong, China","Hong Kong SAR, China",NaN
85,Vietnam,Viet Nam,NaN

In [46]:
# Reorder the columns
match_df = match_df[['medals_country', 'medals_country_code', 'wb_country']]
match_df

,medals_country,medals_country_code,wb_country
0,United States,USA,United States
1,People's Republic of China,NaN,China
2,Russian Federation,RUS,Russian Federation
3,Germany,GER,Germany
4,France,FRA,France
5,Australia,AUS,Australia
6,Italy,ITA,Italy
7,Hungary,HUN,Hungary
8,Japan,JPN,Japan
9,Islamic Republic of Iran,NaN,"Iran, Islamic Rep."
10,Netherlands,NED,Netherlands
11,New Zealand,NZL,New Zealand
12,Ukraine,UKR,Ukraine
13,Cuba,CUB,Cuba
14,Spain,ESP,Spain
15,Jamaica,JAM,Jamaica
16,South Africa,RSA,South Africa
17,Brazil,BRA,Brazil
18,Poland,POL,Poland
19,Ethiopia,ETH,Ethiopia
20,Kazakhstan,KAZ,Kazakhstan
21,Croatia,CRO,Croatia
22,Canada,CAN,Canada
23,Belarus,BLR,Belarus
24,Kenya,KEN,Kenya
25,Denmark,DEN,Denmark
26,Romania,ROU,Romania
27,Azerbaijan,AZE,Azerbaijan
28,Switzerland,SUI,Switzerland
29,Norway,NOR,Norway
30,Lithuania,LTU,Lithuania
31,Tunisia,TUN,Tunisia
32,Sweden,SWE,Sweden
33,Colombia,COL,Colombia
34,Mexico,MEX,Mexico
35,Georgia,GEO,Georgia
36,Ireland,IRL,Ireland
37,Argentina,ARG,Argentina
38,Serbia,SRB,Serbia
39,Slovenia,SLO,Slovenia
40,Trinidad and Tobago,TTO,Trinidad and Tobago
41,Dominican Republic,DOM,Dominican Republic
42,Latvia,LAT,Latvia
43,Algeria,ALG,Algeria
44,Bahrain,BRN,Bahrain
45,Grenada,GRN,Grenada
46,The Bahamas,NaN,"Bahamas, The"
47,Uganda,UGA,Uganda
48,Venezuela,NaN,"Venezuela, RB"
49,Egypt,NaN,"Egypt, Arab Rep."
50,India,IND,India
51,Mongolia,MGL,Mongolia
52,Thailand,THA,Thailand
53,Bulgaria,BUL,Bulgaria
54,Finland,FIN,Finland
55,Indonesia,INA,Indonesia
56,Belgium,BEL,Belgium
57,Armenia,ARM,Armenia
58,Estonia,EST,Estonia
59,Malaysia,MAS,Malaysia
60,Puerto Rico,PUR,Puerto Rico
61,Botswana,BOT,Botswana
62,Cyprus,CYP,Cyprus
63,Gabon,GAB,Gabon
64,Guatemala,GUA,Guatemala
65,Montenegro,MNE,Montenegro
66,Portugal,POR,Portugal
67,Uzbekistan,UZB,Uzbekistan
68,Greece,GRE,Greece
69,Qatar,QAT,Qatar
70,Singapore,SGP,Singapore
71,Afghanistan,AFG,Afghanistan
72,Cameroon,CMR,Cameroon
73,Kingdom of Saudi Arabia,NaN,Saudi Arabia
74,Kuwait,KUW,Kuwait
75,Morocco,MAR,Morocco
76,Tajikistan,TJK,Tajikistan
77,Great Britain,NaN,United Kingdom
78,Republic of Korea,NaN,"Korea, Rep."
79,Czech Republic,NaN,Czechia
80,Democratic People's Republic of Korea,NaN,"Korea, Dem. People's Rep."
81,Turkey,NaN,Turkiye
82,Chinese Taipei,NaN,None
83,Slovakia,NaN,Slovak Republic
84,"Hong Kong, China",NaN,"Hong Kong SAR, China"
85,Vietnam,NaN,Viet Nam

In [47]:
# Look for missing country codes
empty_codes = match_df[match_df['medals_country_code'].isnull()]['medals_country'].tolist()
empty_codes

["People's Republic of China",
 'Islamic Republic of Iran',
 'The Bahamas',
 'Venezuela',
 'Egypt',
 'Kingdom of Saudi Arabia',
 'Great Britain',
 'Republic of Korea',
 'Czech Republic',
 "Democratic People's Republic of Korea",
 'Turkey',
 'Chinese Taipei',
 'Slovakia',
 'Hong Kong, China',
 'Vietnam']

In [48]:
# Add missing country codes

missing_country_codes = {
 'People\'s Republic of China':'CHN',
 'Islamic Republic of Iran':'IRI',
 'The Bahamas':'BAH',
 'Venezuela':'VEN',
 'Egypt':'EGY',
 'Kingdom of Saudi Arabia':'KSA',
 'Great Britain':'GBR',
 'Republic of Korea':'KOR',
 'Czech Republic':'CZE',
 "Democratic People's Republic of Korea":'PRK',
 'Turkey':'TUR',
 'Chinese Taipei':'TPE',
 'Slovakia':'SVK',
 'Hong Kong, China':'HKG',
 'Vietnam':'VIE',
}

for medals_country, medals_country_code in missing_country_codes.items():
    match_df.loc[match_df['medals_country'] == medals_country, 'medals_country_code'] = medals_country_code

match_df

,medals_country,medals_country_code,wb_country
0,United States,USA,United States
1,People's Republic of China,CHN,China
2,Russian Federation,RUS,Russian Federation
3,Germany,GER,Germany
4,France,FRA,France
5,Australia,AUS,Australia
6,Italy,ITA,Italy
7,Hungary,HUN,Hungary
8,Japan,JPN,Japan
9,Islamic Republic of Iran,IRI,"Iran, Islamic Rep."
10,Netherlands,NED,Netherlands
11,New Zealand,NZL,New Zealand
12,Ukraine,UKR,Ukraine
13,Cuba,CUB,Cuba
14,Spain,ESP,Spain
15,Jamaica,JAM,Jamaica
16,South Africa,RSA,South Africa
17,Brazil,BRA,Brazil
18,Poland,POL,Poland
19,Ethiopia,ETH,Ethiopia
20,Kazakhstan,KAZ,Kazakhstan
21,Croatia,CRO,Croatia
22,Canada,CAN,Canada
23,Belarus,BLR,Belarus
24,Kenya,KEN,Kenya
25,Denmark,DEN,Denmark
26,Romania,ROU,Romania
27,Azerbaijan,AZE,Azerbaijan
28,Switzerland,SUI,Switzerland
29,Norway,NOR,Norway
30,Lithuania,LTU,Lithuania
31,Tunisia,TUN,Tunisia
32,Sweden,SWE,Sweden
33,Colombia,COL,Colombia
34,Mexico,MEX,Mexico
35,Georgia,GEO,Georgia
36,Ireland,IRL,Ireland
37,Argentina,ARG,Argentina
38,Serbia,SRB,Serbia
39,Slovenia,SLO,Slovenia
40,Trinidad and Tobago,TTO,Trinidad and Tobago
41,Dominican Republic,DOM,Dominican Republic
42,Latvia,LAT,Latvia
43,Algeria,ALG,Algeria
44,Bahrain,BRN,Bahrain
45,Grenada,GRN,Grenada
46,The Bahamas,BAH,"Bahamas, The"
47,Uganda,UGA,Uganda
48,Venezuela,VEN,"Venezuela, RB"
49,Egypt,EGY,"Egypt, Arab Rep."
50,India,IND,India
51,Mongolia,MGL,Mongolia
52,Thailand,THA,Thailand
53,Bulgaria,BUL,Bulgaria
54,Finland,FIN,Finland
55,Indonesia,INA,Indonesia
56,Belgium,BEL,Belgium
57,Armenia,ARM,Armenia
58,Estonia,EST,Estonia
59,Malaysia,MAS,Malaysia
60,Puerto Rico,PUR,Puerto Rico
61,Botswana,BOT,Botswana
62,Cyprus,CYP,Cyprus
63,Gabon,GAB,Gabon
64,Guatemala,GUA,Guatemala
65,Montenegro,MNE,Montenegro
66,Portugal,POR,Portugal
67,Uzbekistan,UZB,Uzbekistan
68,Greece,GRE,Greece
69,Qatar,QAT,Qatar
70,Singapore,SGP,Singapore
71,Afghanistan,AFG,Afghanistan
72,Cameroon,CMR,Cameroon
73,Kingdom of Saudi Arabia,KSA,Saudi Arabia
74,Kuwait,KUW,Kuwait
75,Morocco,MAR,Morocco
76,Tajikistan,TJK,Tajikistan
77,Great Britain,GBR,United Kingdom
78,Republic of Korea,KOR,"Korea, Rep."
79,Czech Republic,CZE,Czechia
80,Democratic People's Republic of Korea,PRK,"Korea, Dem. People's Rep."
81,Turkey,TUR,Turkiye
82,Chinese Taipei,TPE,None
83,Slovakia,SVK,Slovak Republic
84,"Hong Kong, China",HKG,"Hong Kong SAR, China"
85,Vietnam,VIE,Viet Nam

In [49]:
# Import the medals columns

medals_cols = ['country_code', 'year', 'gold', 'silver', 'bronze']
medals_subset = medals_df[medals_cols]

match_df = match_df.merge(medals_subset, left_on='medals_country_code', right_on='country_code', how='left')

match_df.drop(columns=['country_code'], axis=1, inplace=True)

match_df

,medals_country,medals_country_code,wb_country,year,gold,silver,bronze
0,United States,USA,United States,2012,46,28,30
1,People's Republic of China,CHN,China,2012,38,31,22
2,Russian Federation,RUS,Russian Federation,2012,20,20,27
3,Germany,GER,Germany,2012,11,20,13
4,France,FRA,France,2012,11,11,13
5,Australia,AUS,Australia,2012,8,15,12
6,Italy,ITA,Italy,2012,8,9,11
7,Hungary,HUN,Hungary,2012,8,4,6
8,Japan,JPN,Japan,2012,7,14,17
9,Islamic Republic of Iran,IRI,"Iran, Islamic Rep.",2012,7,5,1
10,Netherlands,NED,Netherlands,2012,6,6,8
11,New Zealand,NZL,New Zealand,2012,6,2,5
12,Ukraine,UKR,Ukraine,2012,5,4,10
13,Cuba,CUB,Cuba,2012,5,3,7
14,Spain,ESP,Spain,2012,4,10,4
15,Jamaica,JAM,Jamaica,2012,4,5,3
16,South Africa,RSA,South Africa,2012,4,1,1
17,Brazil,BRA,Brazil,2012,3,5,9
18,Poland,POL,Poland,2012,3,2,6
19,Ethiopia,ETH,Ethiopia,2012,3,2,3
20,Kazakhstan,KAZ,Kazakhstan,2012,3,1,7
21,Croatia,CRO,Croatia,2012,3,1,2
22,Canada,CAN,Canada,2012,2,5,11
23,Belarus,BLR,Belarus,2012,2,5,3
24,Kenya,KEN,Kenya,2012,2,4,7
25,Denmark,DEN,Denmark,2012,2,4,3
26,Romania,ROU,Romania,2012,2,4,1
27,Azerbaijan,AZE,Azerbaijan,2012,2,2,5
28,Switzerland,SUI,Switzerland,2012,2,2,0
29,Norway,NOR,Norway,2012,2,1,1
30,Lithuania,LTU,Lithuania,2012,2,0,3
31,Tunisia,TUN,Tunisia,2012,2,0,1
32,Sweden,SWE,Sweden,2012,1,4,3
33,Colombia,COL,Colombia,2012,1,3,5
34,Mexico,MEX,Mexico,2012,1,3,4
35,Georgia,GEO,Georgia,2012,1,2,3
36,Ireland,IRL,Ireland,2012,1,1,4
37,Argentina,ARG,Argentina,2012,1,1,2
38,Serbia,SRB,Serbia,2012,1,1,2
39,Slovenia,SLO,Slovenia,2012,1,1,2
40,Trinidad and Tobago,TTO,Trinidad and Tobago,2012,1,1,2
41,Dominican Republic,DOM,Dominican Republic,2012,1,1,0
42,Latvia,LAT,Latvia,2012,1,0,1
43,Algeria,ALG,Algeria,2012,1,0,0
44,Bahrain,BRN,Bahrain,2012,1,0,0
45,Grenada,GRN,Grenada,2012,1,0,0
46,The Bahamas,BAH,"Bahamas, The",2012,1,0,0
47,Uganda,UGA,Uganda,2012,1,0,0
48,Venezuela,VEN,"Venezuela, RB",2012,1,0,0
49,Egypt,EGY,"Egypt, Arab Rep.",2012,0,3,1
50,India,IND,India,2012,0,2,4
51,Mongolia,MGL,Mongolia,2012,0,2,3
52,Thailand,THA,Thailand,2012,0,2,2
53,Bulgaria,BUL,Bulgaria,2012,0,2,1
54,Finland,FIN,Finland,2012,0,2,1
55,Indonesia,INA,Indonesia,2012,0,2,1
56,Belgium,BEL,Belgium,2012,0,1,2
57,Armenia,ARM,Armenia,2012,0,1,1
58,Estonia,EST,Estonia,2012,0,1,1
59,Malaysia,MAS,Malaysia,2012,0,1,1
60,Puerto Rico,PUR,Puerto Rico,2012,0,1,1
61,Botswana,BOT,Botswana,2012,0,1,0
62,Cyprus,CYP,Cyprus,2012,0,1,0
63,Gabon,GAB,Gabon,2012,0,1,0
64,Guatemala,GUA,Guatemala,2012,0,1,0
65,Montenegro,MNE,Montenegro,2012,0,1,0
66,Portugal,POR,Portugal,2012,0,1,0
67,Uzbekistan,UZB,Uzbekistan,2012,0,0,3
68,Greece,GRE,Greece,2012,0,0,2
69,Qatar,QAT,Qatar,2012,0,0,2
70,Singapore,SGP,Singapore,2012,0,0,2
71,Afghanistan,AFG,Afghanistan,2012,0,0,1
72,Cameroon,CMR,Cameroon,2012,0,0,1
73,Kingdom of Saudi Arabia,KSA,Saudi Arabia,2012,0,0,1
74,Kuwait,KUW,Kuwait,2012,0,0,1
75,Morocco,MAR,Morocco,2012,0,0,1
76,Tajikistan,TJK,Tajikistan,2012,0,0,1
77,Great Britain,GBR,United Kingdom,2012,29,17,19
78,Republic of Korea,KOR,"Korea, Rep.",2012,13,9,8
79,Czech Republic,CZE,Czechia,2012,4,3,4
80,Democratic People's Republic of Korea,PRK,"Korea, Dem. People's Rep.",2012,4,0,2
81,Turkey,TUR,Turkiye,2012,1,1,1
82,Chinese Taipei,TPE,None,2012,1,0,1
83,Slovakia,SVK,Slovak Republic,2012,0,1,3
84,"Hong Kong, China",HKG,"Hong Kong SAR, China",2012,0,0,1
85,Vietnam,VIE,Viet Nam,2012,0,0,1

In [50]:
# Reorder the columns
match_df = match_df[['year', 'medals_country', 'medals_country_code', 'wb_country', 'gold', 'silver', 'bronze']]
match_df

,year,medals_country,medals_country_code,wb_country,gold,silver,bronze
0,2012,United States,USA,United States,46,28,30
1,2012,People's Republic of China,CHN,China,38,31,22
2,2012,Russian Federation,RUS,Russian Federation,20,20,27
3,2012,Germany,GER,Germany,11,20,13
4,2012,France,FRA,France,11,11,13
5,2012,Australia,AUS,Australia,8,15,12
6,2012,Italy,ITA,Italy,8,9,11
7,2012,Hungary,HUN,Hungary,8,4,6
8,2012,Japan,JPN,Japan,7,14,17
9,2012,Islamic Republic of Iran,IRI,"Iran, Islamic Rep.",7,5,1
10,2012,Netherlands,NED,Netherlands,6,6,8
11,2012,New Zealand,NZL,New Zealand,6,2,5
12,2012,Ukraine,UKR,Ukraine,5,4,10
13,2012,Cuba,CUB,Cuba,5,3,7
14,2012,Spain,ESP,Spain,4,10,4
15,2012,Jamaica,JAM,Jamaica,4,5,3
16,2012,South Africa,RSA,South Africa,4,1,1
17,2012,Brazil,BRA,Brazil,3,5,9
18,2012,Poland,POL,Poland,3,2,6
19,2012,Ethiopia,ETH,Ethiopia,3,2,3
20,2012,Kazakhstan,KAZ,Kazakhstan,3,1,7
21,2012,Croatia,CRO,Croatia,3,1,2
22,2012,Canada,CAN,Canada,2,5,11
23,2012,Belarus,BLR,Belarus,2,5,3
24,2012,Kenya,KEN,Kenya,2,4,7
25,2012,Denmark,DEN,Denmark,2,4,3
26,2012,Romania,ROU,Romania,2,4,1
27,2012,Azerbaijan,AZE,Azerbaijan,2,2,5
28,2012,Switzerland,SUI,Switzerland,2,2,0
29,2012,Norway,NOR,Norway,2,1,1
30,2012,Lithuania,LTU,Lithuania,2,0,3
31,2012,Tunisia,TUN,Tunisia,2,0,1
32,2012,Sweden,SWE,Sweden,1,4,3
33,2012,Colombia,COL,Colombia,1,3,5
34,2012,Mexico,MEX,Mexico,1,3,4
35,2012,Georgia,GEO,Georgia,1,2,3
36,2012,Ireland,IRL,Ireland,1,1,4
37,2012,Argentina,ARG,Argentina,1,1,2
38,2012,Serbia,SRB,Serbia,1,1,2
39,2012,Slovenia,SLO,Slovenia,1,1,2
40,2012,Trinidad and Tobago,TTO,Trinidad and Tobago,1,1,2
41,2012,Dominican Republic,DOM,Dominican Republic,1,1,0
42,2012,Latvia,LAT,Latvia,1,0,1
43,2012,Algeria,ALG,Algeria,1,0,0
44,2012,Bahrain,BRN,Bahrain,1,0,0
45,2012,Grenada,GRN,Grenada,1,0,0
46,2012,The Bahamas,BAH,"Bahamas, The",1,0,0
47,2012,Uganda,UGA,Uganda,1,0,0
48,2012,Venezuela,VEN,"Venezuela, RB",1,0,0
49,2012,Egypt,EGY,"Egypt, Arab Rep.",0,3,1
50,2012,India,IND,India,0,2,4
51,2012,Mongolia,MGL,Mongolia,0,2,3
52,2012,Thailand,THA,Thailand,0,2,2
53,2012,Bulgaria,BUL,Bulgaria,0,2,1
54,2012,Finland,FIN,Finland,0,2,1
55,2012,Indonesia,INA,Indonesia,0,2,1
56,2012,Belgium,BEL,Belgium,0,1,2
57,2012,Armenia,ARM,Armenia,0,1,1
58,2012,Estonia,EST,Estonia,0,1,1
59,2012,Malaysia,MAS,Malaysia,0,1,1
60,2012,Puerto Rico,PUR,Puerto Rico,0,1,1
61,2012,Botswana,BOT,Botswana,0,1,0
62,2012,Cyprus,CYP,Cyprus,0,1,0
63,2012,Gabon,GAB,Gabon,0,1,0
64,2012,Guatemala,GUA,Guatemala,0,1,0
65,2012,Montenegro,MNE,Montenegro,0,1,0
66,2012,Portugal,POR,Portugal,0,1,0
67,2012,Uzbekistan,UZB,Uzbekistan,0,0,3
68,2012,Greece,GRE,Greece,0,0,2
69,2012,Qatar,QAT,Qatar,0,0,2
70,2012,Singapore,SGP,Singapore,0,0,2
71,2012,Afghanistan,AFG,Afghanistan,0,0,1
72,2012,Cameroon,CMR,Cameroon,0,0,1
73,2012,Kingdom of Saudi Arabia,KSA,Saudi Arabia,0,0,1
74,2012,Kuwait,KUW,Kuwait,0,0,1
75,2012,Morocco,MAR,Morocco,0,0,1
76,2012,Tajikistan,TJK,Tajikistan,0,0,1
77,2012,Great Britain,GBR,United Kingdom,29,17,19
78,2012,Republic of Korea,KOR,"Korea, Rep.",13,9,8
79,2012,Czech Republic,CZE,Czechia,4,3,4
80,2012,Democratic People's Republic of Korea,PRK,"Korea, Dem. People's Rep.",4,0,2
81,2012,Turkey,TUR,Turkiye,1,1,1
82,2012,Chinese Taipei,TPE,None,1,0,1
83,2012,Slovakia,SVK,Slovak Republic,0,1,3
84,2012,"Hong Kong, China",HKG,"Hong Kong SAR, China",0,0,1
85,2012,Vietnam,VIE,Viet Nam,0,0,1

In [51]:
# Sort by the number of gold medals
match_sorted = match_df.sort_values(by='gold', ascending=False).reset_index(drop=True)
match_sorted

,year,medals_country,medals_country_code,wb_country,gold,silver,bronze
0,2012,United States,USA,United States,46,28,30
1,2012,People's Republic of China,CHN,China,38,31,22
2,2012,Great Britain,GBR,United Kingdom,29,17,19
3,2012,Russian Federation,RUS,Russian Federation,20,20,27
4,2012,Republic of Korea,KOR,"Korea, Rep.",13,9,8
5,2012,Germany,GER,Germany,11,20,13
6,2012,France,FRA,France,11,11,13
7,2012,Hungary,HUN,Hungary,8,4,6
8,2012,Italy,ITA,Italy,8,9,11
9,2012,Australia,AUS,Australia,8,15,12
10,2012,Japan,JPN,Japan,7,14,17
11,2012,Islamic Republic of Iran,IRI,"Iran, Islamic Rep.",7,5,1
12,2012,Netherlands,NED,Netherlands,6,6,8
13,2012,New Zealand,NZL,New Zealand,6,2,5
14,2012,Ukraine,UKR,Ukraine,5,4,10
15,2012,Cuba,CUB,Cuba,5,3,7
16,2012,Spain,ESP,Spain,4,10,4
17,2012,Jamaica,JAM,Jamaica,4,5,3
18,2012,Democratic People's Republic of Korea,PRK,"Korea, Dem. People's Rep.",4,0,2
19,2012,Czech Republic,CZE,Czechia,4,3,4
20,2012,South Africa,RSA,South Africa,4,1,1
21,2012,Brazil,BRA,Brazil,3,5,9
22,2012,Croatia,CRO,Croatia,3,1,2
23,2012,Kazakhstan,KAZ,Kazakhstan,3,1,7
24,2012,Ethiopia,ETH,Ethiopia,3,2,3
25,2012,Poland,POL,Poland,3,2,6
26,2012,Canada,CAN,Canada,2,5,11
27,2012,Belarus,BLR,Belarus,2,5,3
28,2012,Kenya,KEN,Kenya,2,4,7
29,2012,Denmark,DEN,Denmark,2,4,3
30,2012,Lithuania,LTU,Lithuania,2,0,3
31,2012,Tunisia,TUN,Tunisia,2,0,1
32,2012,Switzerland,SUI,Switzerland,2,2,0
33,2012,Norway,NOR,Norway,2,1,1
34,2012,Romania,ROU,Romania,2,4,1
35,2012,Azerbaijan,AZE,Azerbaijan,2,2,5
36,2012,Sweden,SWE,Sweden,1,4,3
37,2012,Colombia,COL,Colombia,1,3,5
38,2012,Serbia,SRB,Serbia,1,1,2
39,2012,Slovenia,SLO,Slovenia,1,1,2
40,2012,Trinidad and Tobago,TTO,Trinidad and Tobago,1,1,2
41,2012,Dominican Republic,DOM,Dominican Republic,1,1,0
42,2012,Latvia,LAT,Latvia,1,0,1
43,2012,Algeria,ALG,Algeria,1,0,0
44,2012,Bahrain,BRN,Bahrain,1,0,0
45,2012,Grenada,GRN,Grenada,1,0,0
46,2012,The Bahamas,BAH,"Bahamas, The",1,0,0
47,2012,Uganda,UGA,Uganda,1,0,0
48,2012,Venezuela,VEN,"Venezuela, RB",1,0,0
49,2012,Chinese Taipei,TPE,None,1,0,1
50,2012,Mexico,MEX,Mexico,1,3,4
51,2012,Georgia,GEO,Georgia,1,2,3
52,2012,Ireland,IRL,Ireland,1,1,4
53,2012,Argentina,ARG,Argentina,1,1,2
54,2012,Turkey,TUR,Turkiye,1,1,1
55,2012,Bulgaria,BUL,Bulgaria,0,2,1
56,2012,Mongolia,MGL,Mongolia,0,2,3
57,2012,India,IND,India,0,2,4
58,2012,Egypt,EGY,"Egypt, Arab Rep.",0,3,1
59,2012,Thailand,THA,Thailand,0,2,2
60,2012,Finland,FIN,Finland,0,2,1
61,2012,Indonesia,INA,Indonesia,0,2,1
62,2012,Cyprus,CYP,Cyprus,0,1,0
63,2012,Gabon,GAB,Gabon,0,1,0
64,2012,Belgium,BEL,Belgium,0,1,2
65,2012,Armenia,ARM,Armenia,0,1,1
66,2012,Estonia,EST,Estonia,0,1,1
67,2012,Malaysia,MAS,Malaysia,0,1,1
68,2012,Puerto Rico,PUR,Puerto Rico,0,1,1
69,2012,Botswana,BOT,Botswana,0,1,0
70,2012,Qatar,QAT,Qatar,0,0,2
71,2012,Greece,GRE,Greece,0,0,2
72,2012,Uzbekistan,UZB,Uzbekistan,0,0,3
73,2012,Portugal,POR,Portugal,0,1,0
74,2012,Montenegro,MNE,Montenegro,0,1,0
75,2012,Guatemala,GUA,Guatemala,0,1,0
76,2012,Cameroon,CMR,Cameroon,0,0,1
77,2012,Singapore,SGP,Singapore,0,0,2
78,2012,Tajikistan,TJK,Tajikistan,0,0,1
79,2012,Morocco,MAR,Morocco,0,0,1
80,2012,Kuwait,KUW,Kuwait,0,0,1
81,2012,Kingdom of Saudi Arabia,KSA,Saudi Arabia,0,0,1
82,2012,Afghanistan,AFG,Afghanistan,0,0,1
83,2012,Slovakia,SVK,Slovak Republic,0,1,3
84,2012,"Hong Kong, China",HKG,"Hong Kong SAR, China",0,0,1
85,2012,Vietnam,VIE,Viet Nam,0,0,1

* Merge with `wb_df_1b` to include GDP, life expectancy and total population to form the `grand_df`

In [52]:
grand_df = match_sorted.merge(
    wb_df_1b[['country', 'GDP (current US$)', 'Life expectancy at birth, total (years)', 'Population, total']],
    left_on='wb_country',
    right_on='country',
    how='left'
)

grand_df.drop(columns=['country'], inplace=True)

grand_df

,year,medals_country,medals_country_code,wb_country,gold,silver,bronze,GDP (current US$),"Life expectancy at birth, total (years)","Population, total"
0,2012,United States,USA,United States,46,28,30,1.625397e+13,78.741463,3.138777e+08
1,2012,People's Republic of China,CHN,China,38,31,22,8.532185e+12,76.192000,1.354190e+09
2,2012,Great Britain,GBR,United Kingdom,29,17,19,2.707090e+12,80.904878,6.370022e+07
3,2012,Russian Federation,RUS,Russian Federation,20,20,27,2.208294e+12,70.072195,1.433784e+08
4,2012,Republic of Korea,KOR,"Korea, Rep.",13,9,8,1.278047e+12,80.819512,5.019985e+07
5,2012,Germany,GER,Germany,11,20,13,3.527143e+12,80.539024,8.042582e+07
6,2012,France,FRA,France,11,11,13,2.683672e+12,81.968293,6.566224e+07
7,2012,Hungary,HUN,Hungary,8,4,6,1.288143e+11,75.063415,9.920362e+06
8,2012,Italy,ITA,Italy,8,9,11,2.086958e+12,82.239024,5.953972e+07
9,2012,Australia,AUS,Australia,8,15,12,1.547650e+12,82.046341,2.273346e+07
10,2012,Japan,JPN,Japan,7,14,17,6.272363e+12,83.096098,1.276290e+08
11,2012,Islamic Republic of Iran,IRI,"Iran, Islamic Rep.",7,5,1,6.440355e+11,74.186000,7.732445e+07
12,2012,Netherlands,NED,Netherlands,6,6,8,8.389233e+11,81.104878,1.675496e+07
13,2012,New Zealand,NZL,New Zealand,6,2,5,1.762107e+11,81.407317,4.408100e+06
14,2012,Ukraine,UKR,Ukraine,5,4,10,1.825918e+11,70.944146,4.559334e+07
15,2012,Cuba,CUB,Cuba,5,3,7,7.314100e+10,77.833000,1.130929e+07
16,2012,Spain,ESP,Spain,4,10,4,1.324751e+12,82.426829,4.677306e+07
17,2012,Jamaica,JAM,Jamaica,4,5,3,1.480709e+10,73.433000,2.759817e+06
18,2012,Democratic People's Republic of Korea,PRK,"Korea, Dem. People's Rep.",4,0,2,NaN,71.626000,2.488777e+07
19,2012,Czech Republic,CZE,Czechia,4,3,4,2.088577e+11,78.075610,1.051078e+07
20,2012,South Africa,RSA,South Africa,4,1,1,4.344005e+11,61.846000,5.314503e+07
21,2012,Brazil,BRA,Brazil,3,5,9,2.465228e+12,73.552000,1.999777e+08
22,2012,Croatia,CRO,Croatia,3,1,2,5.741135e+10,76.924390,4.267558e+06
23,2012,Kazakhstan,KAZ,Kazakhstan,3,1,7,2.079986e+11,69.520000,1.679209e+07
24,2012,Ethiopia,ETH,Ethiopia,3,2,3,4.331072e+10,61.543000,9.445128e+07
25,2012,Poland,POL,Poland,3,2,6,4.952305e+11,76.746341,3.806316e+07
26,2012,Canada,CAN,Canada,2,5,11,1.828366e+12,81.663659,3.471340e+07
27,2012,Belarus,BLR,Belarus,2,5,3,6.568589e+10,71.965854,9.446836e+06
28,2012,Kenya,KEN,Kenya,2,4,7,5.639670e+10,61.115000,4.372581e+07
29,2012,Denmark,DEN,Denmark,2,4,3,3.271489e+11,80.051220,5.591572e+06
30,2012,Lithuania,LTU,Lithuania,2,0,3,4.292745e+10,73.863415,2.987773e+06
31,2012,Tunisia,TUN,Tunisia,2,0,1,4.731140e+10,75.550000,1.117438e+07
32,2012,Switzerland,SUI,Switzerland,2,2,0,6.864202e+11,82.697561,7.996861e+06
33,2012,Norway,NOR,Norway,2,1,1,5.127773e+11,81.451220,5.018573e+06
34,2012,Romania,ROU,Romania,2,4,1,1.791329e+11,74.412195,2.005804e+07
35,2012,Azerbaijan,AZE,Azerbaijan,2,2,5,6.967994e+10,70.360000,9.295784e+06
36,2012,Sweden,SWE,Sweden,1,4,3,5.524837e+11,81.704878,9.519374e+06
37,2012,Colombia,COL,Colombia,1,3,5,3.706911e+11,75.597000,4.578242e+07
38,2012,Serbia,SRB,Serbia,1,1,2,4.330925e+10,74.836585,7.199077e+06
39,2012,Slovenia,SLO,Slovenia,1,1,2,4.657779e+10,80.124390,2.057159e+06
40,2012,Trinidad and Tobago,TTO,Trinidad and Tobago,1,1,2,2.733458e+10,73.716000,1.430377e+06
41,2012,Dominican Republic,DOM,Dominican Republic,1,1,0,6.068154e+10,72.514000,1.003088e+07
42,2012,Latvia,LAT,Latvia,1,0,1,2.816990e+10,73.778049,2.034319e+06
43,2012,Algeria,ALG,Algeria,1,0,0,2.271437e+11,74.202000,3.726056e+07
44,2012,Bahrain,BRN,Bahrain,1,0,0,3.074931e+10,79.081000,1.224939e+06
45,2012,Grenada,GRN,Grenada,1,0,0,7.998815e+08,75.042000,1.159120e+05
46,2012,The Bahamas,BAH,"Bahamas, The",1,0,0,1.072050e+10,72.753000,3.820610e+05
47,2012,Uganda,UGA,Uganda,1,0,0,2.730592e+10,58.817000,3.427330e+07
48,2012,Venezuela,VEN,"Venezuela, RB",1,0,0,3.812862e+11,73.036000,2.947043e+07
49,2012,Chinese Taipei,TPE,None,1,0,1,NaN,NaN,NaN
50,2012,Mexico,MEX,Mexico,1,3,4,1.255110e+12,74.574000,1.157559e+08
51,2012,Georgia,GEO,Georgia,1,2,3,1.689439e+10,72.412000,3.728874e+06
52,2012,Ireland,IRL,Ireland,1,1,4,2.251187e+11,80.846341,4.599533e+06
53,2012,Argentina,ARG,Argentina,1,1,2,5.459824e+11,76.467000,4.173327e+07
54,2012,Turkey,TUR,Turkiye,1,1,1,8.805559e+11,75.678000,7.517583e+07
55,2012,Bulgaria,BUL,Bulgaria,0,2,1,5.428814e+10,74.314634,7.305888e+06
56,2012,Mongolia,MGL,Mongolia,0,2,3,1.229277e+10,68.111000,2.792349e+06
57,2012,India,IND,India,0,2,4,1.827638e+12,67.887000,1.274487e+09
58,2012,Egypt,EGY,"Egypt, Arab Rep.",0,3,1,2.791167e+11,70.085000,9.124038e+07
59,2012,Thailand,THA,Thailand,0,2,2,3.975583e+11,76.772000,6.915702e+07
60,2012,Finland,FIN,Finland,0,2,1,2.582901e+11,80.626829,5.413971e+06
61,2012,Indonesia,INA,Indonesia,0,2,1,9.178699e+11,68.973000,2.502227e+08
62,2012,Cyprus,CYP,Cyprus,0,1,0,2.504743e+10,80.109000,1.156556e+06
63,2012,Gabon,GAB,Gabon,0,1,0,1.717046e+10,64.587000,1.836705e+06
64,2012,Belgium,BEL,Belgium,0,1,2,4.961529e+11,80.385366,1.110693e+07
65,2012,Armenia,ARM,Armenia,0,1,1,1.061932e+10,73.454000,2.914421e+06
66,2012,Estonia,EST,Estonia,0,1,1,2.301915e+10,76.326829,1.322696e+06
67,2012,Malaysia,MAS,Malaysia,0,1,1,3.144430e+11,74.944000,2.966021e+07
68,2012,Puerto Rico,PUR,Puerto Rico,0,1,1,1.015648e+11,78.461000,3.634488e+06
69,2012,Botswana,BOT,Botswana,0,1,0,1.390746e+10,60.800000,2.175425e+06
70,2012,Qatar,QAT,Qatar,0,0,2,1.868335e+11,79.227000,1.905660e+06
71,2012,Greece,GRE,Greece,0,0,2,2.420293e+11,80.634146,1.104501e+07
72,2012,Uzbekistan,UZB,Uzbekistan,0,0,3,6.751735e+10,69.874000,2.977450e+07
73,2012,Portugal,POR,Portugal,0,1,0,2.162242e+11,80.373171,1.051484e+07
74,2012,Montenegro,MNE,Montenegro,0,1,0,4.087526e+09,76.200000,6.206010e+05
75,2012,Guatemala,GUA,Guatemala,0,1,0,4.959393e+10,71.463000,1.478194e+07
76,2012,Cameroon,CMR,Cameroon,0,0,1,3.015506e+10,57.792000,2.103268e+07
77,2012,Singapore,SGP,Singapore,0,0,2,2.950929e+11,81.995122,5.312437e+06
78,2012,Tajikistan,TJK,Tajikistan,0,0,1,7.633037e+09,68.484000,7.956382e+06
79,2012,Morocco,MAR,Morocco,0,0,1,1.069374e+11,71.679000,3.335217e+07
80,2012,Kuwait,KUW,Kuwait,0,0,1,1.740477e+11,78.812000,3.394663e+06
81,2012,Kingdom of Saudi Arabia,KSA,Saudi Arabia,0,0,1,7.418499e+11,76.461000,3.082154e+07
82,2012,Afghanistan,AFG,Afghanistan,0,0,1,1.990733e+10,61.923000,3.046648e+07
83,2012,Slovakia,SVK,Slovak Republic,0,1,3,9.462373e+10,76.109756,5.407579e+06
84,2012,"Hong Kong, China",HKG,"Hong Kong SAR, China",0,0,1,2.626289e+11,83.450244,7.150100e+06
85,2012,Vietnam,VIE,Viet Nam,0,0,1,1.955907e+11,73.704000,8.930133e+07

In [53]:
pd.reset_option('display.max_rows')  #... resetting the display option

## 2.b Medals per 10 million inhabitants

In [54]:
# Create a new DataFrame for medals per 10 million from the 'grand_df'
medals_10M_df = grand_df[['year', 'medals_country', 'medals_country_code', 'gold', 'silver', 'bronze', 'Population, total']].copy()

# Calculate medals per 10 million inhabitants
medals_10M_df['Gold_per_10M'] = (medals_10M_df['gold'] / (medals_10M_df['Population, total'] / 10000000))
medals_10M_df['Silver_per_10M'] = (medals_10M_df['silver'] / (medals_10M_df['Population, total'] / 10000000))
medals_10M_df['Bronze_per_10M'] = (medals_10M_df['bronze'] / (medals_10M_df['Population, total'] / 10000000))

# Sort by 'Gold_per_10M'
medals_10M_df.sort_values(by='Gold_per_10M', ascending=False, inplace=True)

# Reset the index
medals_10M_df.reset_index(drop=True, inplace=True)

# Display the top 10 successful countries
top_10 = medals_10M_df[['year', 'medals_country', 'medals_country_code', 'Gold_per_10M', 'Silver_per_10M', 'Bronze_per_10M']].head(10)

top_10

,year,medals_country,medals_country_code,Gold_per_10M,Silver_per_10M,Bronze_per_10M
0,2012,Grenada,GRN,86.272345,0.000000,0.000000
1,2012,The Bahamas,BAH,26.173831,0.000000,0.000000
2,2012,Jamaica,JAM,14.493715,18.117143,10.870286
3,2012,New Zealand,NZL,13.611306,4.537102,11.342755
4,2012,Bahrain,BRN,8.163672,0.000000,0.000000
5,2012,Hungary,HUN,8.064222,4.032111,6.048166
6,2012,Croatia,CRO,7.029781,2.343260,4.686521
7,2012,Trinidad and Tobago,TTO,6.991164,6.991164,13.982328
8,2012,Lithuania,LTU,6.693949,0.000000,10.040923
9,2012,Latvia,LAT,4.915650,0.000000,4.915650

# Ex. 3 Supervised Machine Learning

In [55]:
# Display the grand_df
grand_df

,year,medals_country,medals_country_code,wb_country,gold,silver,bronze,GDP (current US$),"Life expectancy at birth, total (years)","Population, total"
0,2012,United States,USA,United States,46,28,30,1.625397e+13,78.741463,3.138777e+08
1,2012,People's Republic of China,CHN,China,38,31,22,8.532185e+12,76.192000,1.354190e+09
2,2012,Great Britain,GBR,United Kingdom,29,17,19,2.707090e+12,80.904878,6.370022e+07
3,2012,Russian Federation,RUS,Russian Federation,20,20,27,2.208294e+12,70.072195,1.433784e+08
4,2012,Republic of Korea,KOR,"Korea, Rep.",13,9,8,1.278047e+12,80.819512,5.019985e+07
...,...,...,...,...,...,...,...,...,...,...
81,2012,Kingdom of Saudi Arabia,KSA,Saudi Arabia,0,0,1,7.418499e+11,76.461000,3.082154e+07
82,2012,Afghanistan,AFG,Afghanistan,0,0,1,1.990733e+10,61.923000,3.046648e+07
83,2012,Slovakia,SVK,Slovak Republic,0,1,3,9.462373e+10,76.109756,5.407579e+06
84,2012,"Hong Kong, China",HKG,"Hong Kong SAR, China",0,0,1,2.626289e+11,83.450244,7.150100e+06
85,2012,Vietnam,VIE,Viet Nam,0,0,1,1.955907e+11,73.704000,8.930133e+07

In [56]:
# Create a copy of grand_df for exercise 3 and add a total medals column
grand_df_total = grand_df.copy()
grand_df_total['total_medals'] = grand_df_total['gold'] + grand_df_total['silver'] + grand_df_total['bronze']
total_medals_col = grand_df_total.pop('total_medals')  #... popping total_medals
grand_df_total.insert(7, 'total_medals', total_medals_col)  #... inserting total_medals at the desired position for better readability
grand_df_total.head(10)

,year,medals_country,medals_country_code,wb_country,gold,silver,bronze,total_medals,GDP (current US$),"Life expectancy at birth, total (years)","Population, total"
0,2012,United States,USA,United States,46,28,30,104,1.625397e+13,78.741463,3.138777e+08
1,2012,People's Republic of China,CHN,China,38,31,22,91,8.532185e+12,76.192000,1.354190e+09
2,2012,Great Britain,GBR,United Kingdom,29,17,19,65,2.707090e+12,80.904878,6.370022e+07
3,2012,Russian Federation,RUS,Russian Federation,20,20,27,67,2.208294e+12,70.072195,1.433784e+08
4,2012,Republic of Korea,KOR,"Korea, Rep.",13,9,8,30,1.278047e+12,80.819512,5.019985e+07
5,2012,Germany,GER,Germany,11,20,13,44,3.527143e+12,80.539024,8.042582e+07
6,2012,France,FRA,France,11,11,13,35,2.683672e+12,81.968293,6.566224e+07
7,2012,Hungary,HUN,Hungary,8,4,6,18,1.288143e+11,75.063415,9.920362e+06
8,2012,Italy,ITA,Italy,8,9,11,28,2.086958e+12,82.239024,5.953972e+07
9,2012,Australia,AUS,Australia,8,15,12,35,1.547650e+12,82.046341,2.273346e+07

## 3.a Train and evaluate a linear regression model

### 3.a.1 Split the data into a training and a test set

In [57]:
# Define features
grand_df_total = grand_df_total.dropna()  #... dropping missing values to facilitate the regression algorithm
features = grand_df_total[['GDP (current US$)', 'Life expectancy at birth, total (years)', 'Population, total']]

# Define targets
target_gold = grand_df_total['gold']
target_silver = grand_df_total['silver']
target_bronze = grand_df_total['bronze']
target_total = grand_df_total['total_medals']

# Split the data into training and test set (80:20)

# for gold
X_train_gold, X_test_gold, y_train_gold, y_test_gold = train_test_split(features, target_gold, test_size=0.2, random_state=42)

# for silver
X_train_silver, X_test_silver, y_train_silver, y_test_silver = train_test_split(features, target_silver, test_size=0.2, random_state=42)

# for bronze
X_train_bronze, X_test_bronze, y_train_bronze, y_test_bronze = train_test_split(features, target_bronze, test_size=0.2, random_state=42)

# for total
X_train_total, X_test_total, y_train_total, y_test_total = train_test_split(features, target_total, test_size=0.2, random_state=42)

### 3.a.2 Train the linear regression models

In [58]:
# Initialize the models
model_gold = LinearRegression()
model_silver = LinearRegression()
model_bronze = LinearRegression()
model_total = LinearRegression()

# Train the models
model_gold.fit(X_train_gold, y_train_gold)
model_silver.fit(X_train_silver, y_train_silver)
model_bronze.fit(X_train_bronze, y_train_bronze)
model_total.fit(X_train_total, y_train_total)

# Predict on the test sets
y_pred_gold = model_gold.predict(X_test_gold)
y_pred_silver = model_silver.predict(X_test_silver)
y_pred_bronze = model_bronze.predict(X_test_bronze)
y_pred_total = model_total.predict(X_test_total)

### 3.a.3 Evaluate the model using RMSE

In [29]:
rmse_gold = np.sqrt(mean_squared_error(y_test_gold, y_pred_gold))
rmse_silver = np.sqrt(mean_squared_error(y_test_silver, y_pred_silver))
rmse_bronze = np.sqrt(mean_squared_error(y_test_bronze, y_pred_bronze))
rmse_total = np.sqrt(mean_squared_error(y_test_total, y_pred_total))

print('Gold RMSE:', rmse_gold)
print('Silver RMSE:', rmse_silver)
print('Bronze RMSE:', rmse_bronze)
print('Total RMSE:', rmse_total)

Gold RMSE: 9.569560201018747
Silver RMSE: 15.107941101906865
Bronze RMSE: 14.79212834254983
Total RMSE: 38.43121593302594

## 3.b Briefly discuss the results

1. Judging the model's performance:
* The Gold RMSE of nearly 9.57 indicates that the model's gold medal predictions have an error of about 9.57 medals.

* Similarly, for the no. of Silver, Bronze and Total medals, the RMSE values indicate and error of about 15.11, 14.79 and 38.43 respectively in the model's medal predictions.

* Generally, the lower the RMSE value the better. Thus the model is relatively better at predicting the no. of gold medals than it is at predicting the others.

2. Possible reasons for the performance:
* The relatively small size of the dataset might not be enough to sufficiently train the model.

* The dataset has a lot values where countries have not won any medals which might skew the predictions.

* The features defined to be used with the model might not encapsulate the factors influencing the no. of medals won.

* Linear regression might not be the best method to evaluate this type of dataset.

3. Possible improvements:
* A larger dataset spanning over more years might help.

* Expanding the range of features to more relavant features like the sports budget of the country, historical performance etc.

* Trying out other methods like Decision Tree etc.

## 3.c Predict the number of medals a hypothetical country with a population of 10 million, life expectancy of 70 years, and a GDP per capita of 20.000 US$ would win.

In [59]:
# Denote the hypothetical country as country_x
country_x = pd.DataFrame({
    'GDP (current US$)': [20000],
    'Life expectancy at birth, total (years)': [70],
    'Population, total': [10000000]  
})

# Predict the medal count
predict_gold = model_gold.predict(country_x)
predict_silver = model_silver.predict(country_x)
predict_bronze = model_bronze.predict(country_x)
predict_total = model_total.predict(country_x)

# Print the results
print('Predicted gold medals:', predict_gold[0])
print('Predicted silver medals:', predict_silver[0])
print('Predicted bronze medals:', predict_bronze[0])
print('Predicted total medals:', predict_total[0])

Predicted gold medals: 0.7002618208631892
Predicted silver medals: 0.8397136778318925
Predicted bronze medals: 1.8075213855563863
Predicted total medals: 3.347496883649697

* A.: According to this model, a hypothetical country with a GDP per capita of US$20,000, life expectancy of 70 years at birth and a population of 10 million would win apporximately 0.7 gold medals, 0.84 silver medals, 1.81 bronze medals and a total of 3.35 medals.